@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Galada&display=swap');

@media only screen and (max-device-width: 900px) {
	div#interface {
	color: black;
	width: 900px;
	} 
	nav#menu {
	max-width: 500px;
	} 
}

@media only screen and (max-device-width: 700px) {
	div#interface {
	color: black;
	width: 700px;
	} 
	nav#menu {
	max-width: 500px;
	} 
	
	
}






/*estilo da pagina*/
body{
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: white;
}
	
p {
	text-align: justify;
	text-indent: 50px;
}

/*formatação cabeçalho*/
header#cabecalho img#icone {
	width: 200px;
	height: 150px;
	position: absolute;
	left: 1000px;
	top: 60px; 
}
header#cabecalho {
	border-bottom: 1px #606060 solid;
	height: 170px
}
header#cabecalho h1 {
	color:rgb(17, 0, 255);
	font-family: 'Galada', cursive;
	font-size: 30pt;
	text-shadow: 1px 1px 25px rgba(230, 230, 255, 0.753);
	padding: 0px;
	margin-bottom: 0px;
}
header#cabecalho h2 {
	font-family: Arial, sens-serif;
	color: #000000;
	font-size: 15pt;
	padding: 0px;
	margin-top: 10px;
}

#testevoc {
	width: 600px;
	height: 400px;
}
h2 {
	font-family: Arial, sens-serif;
	color: #0026ff;
	font-size: 25pt;
}
h3 {
	font-family: Arial, sens-serif;
	color: #ffe600;
	font-size: 15pt;
}

nav#menu ul {
	list-style: none;
	text-tranform: uppercase;
	position: absolute;
	top: -20px;
	left: 800px;
}


nav#menu li {
	display: inline-block;
	background-color: #0000CD;
	padding: 10px;
	margin: 2px;
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: rgb(252, 255, 100);
}

nav#menu h1 {
	display: none;
}

nav#menu a {
	color: #fff;
	text-decoration: none;
}

nav#menu a:hover {
	color: rgb(0, 0, 0);
}

#comp-ku9vnfcg3, #comp-ku9vnfcl {
	text-align: center;
}


footer#rodape {
	clear: both;
	top: 20px;
	border-top: 1px solid #606060;
}










