@charset "UTF-8";

table#horario {
	border: 1px solid black;
	border-spacing: 0px;
	margin-left: ato;
	margin-right: auto;
}

table#horario td {
	border: 1px solid black;
	padding: 10px;
}